**/node_modules
**/.npm-cache
**/dist
**/.env
**/.env.*
!**/.env.example
**/*.log
**/*.err.log
**/*.out.log
**/*.db
**/*.db-journal
backend/uploads/originals/*
backend/uploads/mediums/*
backend/uploads/thumbnails/*
!backend/uploads/originals/.gitkeep
!backend/uploads/mediums/.gitkeep
!backend/uploads/thumbnails/.gitkeep
.git
.gitignore
.DS_Store
docker-data
